
h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    color: #2D7FA4;
    text-shadow: 2px 2px 0 #000;
}
    
h1 {
        font-family: 'Press Start 2P', cursive;
        font-size: 40px;
        color: #000;
        text-shadow: 2px 2px 0 #CBCBCB;
}


/* estudar display flex */