header  {
    background-color: #62C370;
    border-bottom: 8px solid #000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
 
}

a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
}

/*pseudoelemento*/

.menu::before {
    content: "";
    background-color: #2D7FA4;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button {
    display: inline-block;
    background-color: #2D7FA4;
    box-shadow: 3px 3px 3px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition-duration: 0.45s;
}

#button:hover {
    color: #000;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 4px -4spx 3px #000;
}

/* estudar display flex */