.banner {
    background-image: url(../../assets/images/img_banner.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 7px solid #000;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .navigation {
    display: flex;
    justify-content: space-evenly;
}