.button {
    display: inline-block;
    background-color: #2D7FA4;
    box-shadow: 4px 4px 0px rgb(46, 44, 44);
    padding: 18px 20px;
    margin-right: 0;
    transition-duration: 0.45s;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

/*pseudoclasse*/
.button:hover {
    color: #000;
    transform: scale(1.05);
    cursor: pointer;
}

.button.-form:hover {
    transform: unset;
}

.button.-form {
    font-size: 30px;
    font-weight: 300;
    box-shadow: 4px 4px 0px #000;
}