.main-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #000;
    text-shadow: 2px 2px 0 #CBCBCB;
}

.main-title.-headline{
    font-weight: 400;
    color: #ffffff;
    text-shadow: none;
    text-align: center;
    padding-bottom: 50px;
    text-shadow: 1px 2px 0 #000;
}