.main-paragrafo {
    font-family: 'Fira Code', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    color: #fff;
    text-align: justify;
    padding: 80px 180px;
}