.wrapper-skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    min-height: 300px;
}

.wrapper-skill .right{
    width: 360px;
}

.wrapper-skill .progress-bar{
    width: 360px;
}